<header id="main-header" flex>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon aria-label="Menu" class="material-icons" ng-click="toggleSidebar()">menu</md-icon>
      </md-button>

      <h2><span>Spot</span></h2>
      <span flex></span>

      <md-button class="md-icon-button" aria-label="More">
        <md-icon aria-label="Menu" class="material-icons">more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</header>
